<div class="switch-header">
    <i class="switch-header--icon material-icons icon-white">
      chevron_right
    </i>
</div>

<header class="header-menu">
      <div class="header-menu__settings settings-form btn-group">
        <div class="settings-form__element settings-form__element--right dropdown ">
          <span class="settings-form__button material-icons"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Русский</span>
          <ul class="settings-form__list dropdown-menu  pull-right">
            <li class = "settings-form__item"><a href="#">English</a></li>
            <li class = "settings-form__item"><a href="#">Deutsch</a></li>
            <li class = "settings-form__item"><a href="#">Русский</a></li>
          </ul>
        </div>

        <div class="settings-form__element settings-form__element--left dropdown ">
          <span class="settings-form__button material-icons"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">$ US Dollar</span>
          <ul class="settings-form__list dropdown-menu pull-right">
            <li class = "settings-form__item"><a href="#">€ Euro</a></li>
            <li class = "settings-form__item"><a href="#">£ Pound Sterling</a></li>
            <li class = "settings-form__item"><a href="#">$ US Dollar</a></li>
          </ul>
        </div>
      </div>

      <div class="header-menu__logo">
        <a href="#">
          <img src="./IMG/logo.png" alt="Soccer Pro" title ="Soccer Pro">
        </a>
      </div>

      <div class="header-menu__category category">
        <ul class="category__list">       
          <li class="category__item"><a class ="category__link" href="">SHOES</a></li>
          <li class="category__item"><a class ="category__link" href="">APPAREL</a>
          <i class="material-icons">chevron_right</i>

            <ul class="category-list grid-list">

              <li class = "grid-list__item">
                <a href="#" class="grid-list__link">Nullam iaculis</a>
                <ul class="grid-list__sub-list">
                  <li class="grid-list__sub-item">
                    <a href="" class="grid-list__link">Conse ctetur adipisicing</a>
                  </li>
                  <li class="grid-list__sub-item">
                    <a href="" class="grid-list__link">Elit sed do eiusmod</a>
                  </li>
                  <li class="grid-list__sub-item">
                    <a href="" class="grid-list__link">Et dolore magna aliqua</a>
                  </li>
                  <li class="grid-list__sub-item">
                    <a href="" class="grid-list__link">Incididunt ut labore</a>
                  </li>
                  <li class="grid-list__sub-item">
                    <a href="" class="grid-list__link">Quis nostrud exercita</a>
                  </li>
                  <li class="grid-list__sub-item">
                    <a href="" class="grid-list__link">Ut enim ad minim</a>
                  </li>
                </ul>
              </li>

              <li class = "grid-list__item">
                <a href="#" class="grid-list__link">Phasellus vel</a>
                <ul class="grid-list__sub-list">
                  <li class="grid-list__sub-item">
                    <a href="" class="grid-list__link">Conse ctetur adipisicing</a>
                  </li>
                  <li class="grid-list__sub-item">
                    <a href="" class="grid-list__link">Elit sed do eiusmod</a>
                  </li>
                  <li class="grid-list__sub-item">
                    <a href="" class="grid-list__link">Et dolore magna aliqua</a>
                  </li>
                  <li class="grid-list__sub-item">
                    <a href="" class="grid-list__link">Incididunt ut labore</a>
                  </li>
                  <li class="grid-list__sub-item">
                    <a href="" class="grid-list__link">Quis nostrud exercita</a>
                  </li>
                  <li class="grid-list__sub-item">
                    <a href="" class="grid-list__link">Ut enim ad minim</a>
                  </li>
                </ul>
              </li>

              <li class = "grid-list__item">
                <a href="#" class="grid-list__link">Praesent imperdiet</a>
                <ul class="grid-list__sub-list">
                  <li class="grid-list__sub-item">
                    <a href="" class="grid-list__link">Aliquam eget</a>
                  </li>
                  <li class="grid-list__sub-item">
                    <a href="" class="grid-list__link">Conse ctetur adipisicing </a>
                  </li>
                  <li class="grid-list__sub-item">
                    <a href="" class="grid-list__link">Incididunt ut labore </a>
                  </li>
                  <li class="grid-list__sub-item">
                    <a href="" class="grid-list__link">Lorem ipsum</a>
                  </li>
                  <li class="grid-list__sub-item">
                    <a href="" class="grid-list__link">Quis nostrud exercita</a>
                  </li>
                  <li class="grid-list__sub-item">
                    <a href="" class="grid-list__link">Ut enim ad minim</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="category__item"><a class ="category__link" href="">TEAM</a></li>
          <li class="category__item"><a class ="category__link" href="">EQUIPMENT</a></li>
          <li class="category__item"><a class ="category__link" href="">UNIFORMS</a></li>
          <li class="category__item"><a class ="category__link" href="">SOCCER GEAR</a></li>
          <li class="category__item"><a class ="category__link" href="">FOR KIDS</a></li>
          <li class="category__item"><a class ="category__link" href="">BRAND</a></li>
        </ul>
      </div>

      <div class="header-menu__basket basket">
      
        <div class="basket__box">      
          <button type = "button" data-toggle = "dropdown" class="basket__button material-icons ">

            <i class ="basket__icon material-icons icon-white"></i>
            <strong class ="basket__strong">КОРЗИНА</strong>
            <span class ="basket__span">0 ТОВАРОВ</span>

          </button>
      
          <ul class="basket__menu dropdown-menu pull-right">
            <li class="basket__item">
              <p class="text-center">Ваша корзина пуста!</p>
            </li>
          </ul>
        </div>
      </div>
  
      <div class="header-menu__search search">
        <input type = "text" class="search__field" />
        <button class="search__button material-icons icon-blue"></button>
      </div>
      
      <div class="header-menu__user user">

        <ul class="user__category-list">

          <li class="user__category"><a class="user__link" href=""><i class="material-icons"></i><span>ЗАКЛАДКИ (0)</span></a></li>
          <li class="user__category"><a class="user__link" href=""><i class="material-icons"></i><span>ЛИЧНЫЙ КАБИНЕТ</span></a></li>
          <li class="user__category"><a class="user__link" href=""><i class="material-icons"></i><span>КОРЗИНА</span></a></li>
          <li class="user__category"><a class="user__link" href=""><i class="material-icons"></i><span>ОФОРМЛЕНИЕ ЗАКАЗА</span></a></li>
          <li class="user__category"><a class="user__link" href=""><i class="material-icons"></i><span>АВТОРИЗАЦИЯ</span></a></li>
          <li class="user__category"><a class="user__link" href=""><i class="material-icons"></i><span>РЕГИСТРАЦИЯ</span></a></li>

        </ul>

      </div>

      <div class="header-menu__contact material-icons icon-blue">
        <a href="callto:800-2345-6789" class="header-menu__contact-number">
                    800-2345-6789                 </a>
      </div>
      
      <ul class="header-menu__social social">

        <li class = "social__item"><a class = "social__link" href="//www.youtube.com"><i class="fab fa-facebook-f"></i></a></li>
        <li class = "social__item"><a class = "social__link" href="//www.youtube.com"><i class="fab fa-twitter"></i></a></li>
        <li class = "social__item"><a class = "social__link" href="//www.youtube.com"><i class="fab fa-google-plus-g"></i></a></li>

      </ul>
      
      <ul class="header-menu__footer footer">

        <li class = "footer__item"><a class = "footer__link" href="">О НАС</a></li>
        <li class = "footer__item"><a class = "footer__link" href="">ИНФОРМАЦИЯ О ДОСТАВКЕ</a></li>
        <li class = "footer__item"><a class = "footer__link" href="">ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ   </a></li>
        <li class = "footer__item"><a class = "footer__link" href="">УСЛОВИЯ ИСПОЛЬЗОВАНИЯ</a></li>
        <li class = "footer__item"><a class = "footer__link" href="">СВЯЗАТЬСЯ С НАМИ</a></li>
        <li class = "footer__item"><a class = "footer__link" href="">КАРТА САЙТА</a></li>
        <li class = "footer__item"><a class = "footer__link" href="">ЗАБЫЛИ ПАРОЛЬ?</a></li>
        <li class = "footer__item"><a class = "footer__link" href="">АДРЕСНАЯ КНИГА</a></li>
        <li class = "footer__item"><a class = "footer__link" href="">ИСТОРИЯ ЗАКАЗОВ</a></li>
        <li class = "footer__item"><a class = "footer__link" href="">ЗАГРУЗКИ</a></li>
        <li class = "footer__item"><a class = "footer__link" href="">БОНУСНЫЕ ОЧКИ</a></li>
        <li class = "footer__item"><a class = "footer__link" href="">ВОЗВРАТ ТОВАРА</a></li>
        <li class = "footer__item"><a class = "footer__link" href="">ТРАНЗАКЦИИ</a></li>
        <li class = "footer__item"><a class = "footer__link" href="">РАССЫЛКА</a></li>
        <li class = "footer__item"><a class = "footer__link" href="">РЕГУЛЯРНЫЕ ПЛАТЕЖИ</a></li>

      </ul> 

      <div class="header-menu__copyright">
        Работает на
        <a href="https://opencart-russia.ru">OpenCart</a>
        <br>
         Soccer Pro © 2020
      </div>
</header>